
/*	<body>
    img{
     max-width: 100%;
     height: auto;
   
   <img  src = "TopBackground.jpg" alt = "cinque terre" width = "1000" height="300">  
   </body>
   */

   body {  
    background-color: lightblue;  
}  
h1 {  
    color: navy;  
    margin-left: 20px;  
}   

  .container {
  position: relative;
  text-align: center;
  height: auto;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%);
}

   .top{
     max-width: 100%;
     height: auto;
     position: relative; 
   }
   .first{
        position: absolute; 
            top: 15px; 
            left: 100px; 
   }

   * {
  box-sizing: border-box;}


/*.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  padding: 1px;
}
*/
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 10;
  width: 50%;
  border: 1px solid #ddd;
}

th, td {
  text-align: middle;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other on screens that are smaller than 600 px */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
th {
  font-style: Bold;
} 
.a1{
  margin-left: 0px;
}
.a2{
  margin-top: 0px;
}
